{{ partial "head" . }}

<body>
	<div class="container">
		{{ partial "main-nav" . }}
		<div class="columns mt-3">
			<div class="column">
				<div class="page-content content">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>

	{{ partial "footer" . }}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
	<script>
		const observer = lozad('.lozad', {
			rootMargin: '500px 0px', // syntax similar to that of CSS Margin
		}); // lazy loads elements with default selector as '.lozad'
		observer.observe();

	</script>
</body>

</html>
